@tailwind base;
@tailwind components;
@tailwind utilities;

/* setup color for css */
.secondaryText {
  color: #4d6b79;
}
.secondaryBackground {
  background-color: #4d6b79;
}
.primaryText {
  color: #bf5a36;
}
.primaryBackground {
  background-color: #bf5a36;
}
.gradient {
  color: #ebccb5;
}

.loginBackground {
  background: rgb(0, 212, 255);
  background: linear-gradient(
    180deg,
    rgba(0, 212, 255, 0.04663872384891454) 0%,
    rgba(191, 90, 54, 0.38557429807860644) 150%
  );
}

.animation-spin:hover {
  animation: spin 1s linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animation-spin-infinite {
  animation: spin2 1.5s linear infinite;
}

@keyframes spin2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
